{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ios_saf >= 8",
            "not IE <= 10",
            "chrome >= 49",
            "firefox >= 49",
            "> 1%"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["transform-class-properties"],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
