{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": "> 2%"
        },
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
